<!-- Just an image -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="/imagenes/logo.png.png" width="40" height="40" alt="" style="margin: 10px;">
  </a>
</nav>
<div class="pagina">
  <p>Juego de Pregunta</p>
  <div class="contenedor">
    <div class="reglas">
      <p>Se le presentara una pregunta y cuatro posibles respuestas, elegir la opcion correcta</p>
      <p>El juego contara con diez preguntas. En la pregunta numero cinco sera un Check Point y se podra llevar un
        premio o arriesgar a llevar a la pregunta numero
        10 y llevarse un premio mas grande. Ojo, si pierden no se llevan regalo.</p>
      <p>Si deseas terminar el juego antes de tiempo apreta el boton "Reiniciar Juego"</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="btn btn-info"><a href="juego">Iniciar juego</a></div>
</div>


<router-outlet></router-outlet><!--un componente que importa o renderiza la salida-->